@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.wrapper {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: grid;
    grid-template-columns: 200px 2fr 20px 1fr 1fr;
    align-items: start;
}

.header__promo {
    @apply flex space-x-10 px-10 justify-center;
}

.logo {
    @apply w-full h-full flex;
}

.header__promo-title {
    @apply font-semibold
}

.header__promo-subtitle {
    @apply text-main-red;
}

.header__contact-title {
    @apply font-semibold text-gray-300;
}

nav.nav {
    @apply bg-gradient-to-l from-main-yellow to-main-red w-full mt-10;
}

.head-nav {
    @apply flex py-4;
}

.head-nav__link {
    @apply font-bold text-white p-3 hover:bg-gray-200/30 rounded-es-sm transition;
}

.main-banner {
    position: relative;
    height: 100%;
}

h1{
    @apply text-3xl font-bold
}
h2 {
    @apply text-3xl font-bold pb-5
}
.swiper {
    width: 100%;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__list {
    display: flex;
    height: 500px;
}

.banner__item {
    display: block;
    width: 100%;
    height: 500px;
}

.footer__link {
    @apply inline-block text-gray-500 py-2 hover:underline;
}

.case__item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 30px;
    @apply pt-8 pb-6 border-b border-gray-200;
}

.case__item:last-child {
    @apply border-b-0
}

.case__item-title {
    @apply font-semibold text-main-black text-xl;
}

.case__item-subtitle {
    @apply pt-6 pb-2 font-semibold text-gray-500
}

.case__item-text {
    @apply mb-16 text-main-grey
}

.btn {
    @apply inline-block py-4 px-36 bg-main-yellow/80 rounded hover:bg-main-red hover:text-white transition font-semibold uppercase;
}

.ww-best__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
}

.ww-best__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}
.ww-best__icon svg {
    width: 60px;
    height: 60px;
}
.ww-best__item h3 {
    @apply font-bold text-center pb-4 text-main-red
}

.ww-best__attr {
    list-style-image: url("../../public/images/circle.svg");
    font-size: 14px;
    line-height: 2;
    border-radius: 16px;
    padding: 20px 40px;
    border: 1px solid #eaeaea;
}
.ww-best__title {
    @apply text-center pb-6 pt-2 text-main-red
}
section.target {
    padding: 50px 0;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    margin-bottom: 100px;
    background-image: url('../../public/images/footer_bg.jpg');
}
section.target .wrapper {
    display: grid;
    grid-template-columns: 1fr 350px;
    align-items: center;
    position: relative;
    z-index: 20;
}
section.target::after {
    background: rgba(14, 29, 36, 0.9);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    z-index: 10;
}
.target__title {
    @apply text-main-yellow text-xl font-semibold pb-4
}
.target__subtitle {
    @apply text-white
}
.target__btn {
    background-color: #fff;
    width: fit-content;
    border-radius: 4px;
    padding: 8px 40px;
    cursor: pointer;
}
.target__btn:hover {
    @apply bg-main-yellow transition
}


/* MODAL */
.popup__form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
}
.popup__form.__active{
    display: flex;
}
#popup__form {
    position: relative;
    min-width: 475px;
    height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #ff813d;
}
.popup__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.popup__wrapper .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

section.news-on-main {
    @apply py-10
}

.news-on-main__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
}
.news__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
}
.news-on-main__item,
.news__item{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.news-on-main__title,
.news__title{
    @apply font-bold pt-4 pb-2
}
.news-on-main__more,
.news__more{
    @apply py-2 px-6 border-main-orange border-2 rounded-lg inline-block mt-4 items-end bg-main-yellow text-main-red w-fit;
    @apply hover:bg-main-red hover:text-white hover:border-transparent transition;
}

.reviews__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
}

.reviews__item {
    background-color: #fff;
    border-radius: 16px;
    padding: 40px 30px;
    border: 1px solid #f0f0f0;
    height: fit-content;
}

.reviews__item-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}

.reviews__item-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews__item-img img {
    width: 70%;
    padding-bottom: 30px;
}
.reviews__item-author {
    margin-top: 20px;
}

.reviews__item-author__company,
.reviews__item-author__name {
    @apply font-semibold
}

.news-on-main__header {
    @apply hover:text-main-red transition
}
