@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.wrapper {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

body.__fix {
    overflow: hidden;
}

.header {
    display: grid;
    grid-template-columns: 200px 2fr 20px 1fr 1fr;
    align-items: start;
}

.header__promo {
    @apply flex space-x-10 px-10 justify-center;
}

.logo {
    @apply w-full h-full flex;
}

.header__promo-title {
    @apply font-semibold
}

.header__promo-subtitle {
    @apply text-main-red;
}

.header__contact-title {
    @apply font-semibold text-gray-300;
}

nav.nav {
    @apply bg-gradient-to-l from-main-yellow to-main-red w-full mt-10;
}

.head-nav {
    @apply flex py-4;
}

.head-nav__link {
    @apply font-bold text-white p-3 hover:bg-gray-200/30 rounded-es-sm transition;
}

.main-banner {
    position: relative;
    height: 100%;
}

h1 {
    @apply text-3xl font-bold
}

h2 {
    @apply text-3xl font-bold pb-5
}

.swiper {
    width: 100%;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__list {
    display: flex;
    height: 500px;
}

.banner__item {
    display: block;
    width: 100%;
    height: 500px;
}

.footer__link {
    @apply inline-block text-gray-500 py-2 hover:underline;
}

.case__item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 30px;
    @apply pt-8 pb-6;
}

.case__item-title {
    @apply font-semibold text-main-black text-xl;
}

.case__item-subtitle {
    @apply pt-6 pb-2 font-semibold text-gray-500
}
.message {
    text-align: center;
    font-weight: 500;
}
.case__item-text {
    @apply mb-16 text-main-grey
}

.btn {
    cursor: pointer;
    @apply inline-block py-4 px-36 bg-main-yellow/80 rounded hover:bg-main-red hover:text-white transition font-semibold uppercase;
}
.btn[disabled="true"] {
    background-color: #c1c1c1;
}
.btn[disabled="true"]:hover {
    color: #000;
    cursor: auto;
}

.ww-best__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
}

.ww-best__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.ww-best__icon svg {
    width: 60px;
    height: 60px;
}

.ww-best__item h3 {
    @apply font-bold text-center pb-4 text-main-red
}

.ww-best__attr {
    list-style-image: url("../../public/images/circle.svg");
    font-size: 14px;
    line-height: 2;
    border-radius: 16px;
    padding: 20px 40px;
    border: 1px solid #eaeaea;
}

.ww-best__title {
    @apply text-center pb-6 pt-2 text-main-red
}

section.target {
    padding: 50px 0;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    margin-bottom: 100px;
    background-image: url('../../public/images/footer_bg.jpg');
}

section.target .wrapper {
    display: grid;
    grid-template-columns: 1fr 350px;
    align-items: center;
    position: relative;
    z-index: 20;
}

section.target::after {
    background: rgba(14, 29, 36, 0.9);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    z-index: 10;
}

.target__title {
    @apply text-main-yellow text-xl font-semibold pb-4
}

.target__subtitle {
    @apply text-white
}

.target__btn {
    background-color: #fff;
    width: fit-content;
    border-radius: 4px;
    padding: 8px 40px;
    cursor: pointer;
}

.target__btn:hover {
    @apply bg-main-yellow transition
}


/* MODAL */
.popup__form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup__form.__active {
    display: flex;
}

#popup__form {
    position: relative;
    min-width: 475px;
    height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #ff813d;
}

.popup__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.popup__wrapper .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

section.news-on-main {
    @apply py-10
}

.news-on-main__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
}

.news__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 40px;
}

.news-on-main__item,
.news__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.news-on-main__title,
.news__title {
    @apply font-bold pt-4 pb-2
}

.news-on-main__more,
.news__more {
    @apply py-2 px-6 border-main-orange border-2 rounded-lg inline-block mt-4 items-end bg-main-yellow text-main-red w-fit;
    @apply hover:bg-main-red hover:text-white hover:border-transparent transition;
}

.reviews__item {
    background-color: #fff;
    border-radius: 16px;
    padding: 40px 30px;
    border: 1px solid #f0f0f0;
    height: fit-content;
}

.reviews__item-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}

.reviews__item-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews__item-img img {
    max-width: 70%;
    height: 150px;
    padding-bottom: 30px;
}

.reviews__item-author {
    margin-top: 20px;
}

.reviews__item-author__company,
.reviews__item-author__name {
    @apply font-semibold
}

.news-on-main__header {
    @apply hover:text-main-red transition
}

.case__item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 80%;
    max-height: 80%;
}

.case__task-subtitle {
    @apply pt-10 pb-4 text-2xl font-bold uppercase opacity-80
}

.case__item-block {
    @apply border-b border-main-orange pb-4
}

.case__item-block:last-child {
    @apply border-b-0
}

.case ul {
    @apply list-disc pl-5
}

.services__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 50px;
    @apply border-b border-gray-200
}

.services__item:last-child {
    @apply border-b-0
}

.services__item-img {
    padding: 40px;
    width: 100%;
}

.services__item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @apply py-6
}

.services__item-title {
    @apply font-bold pb-4
}

.services__item-info .services__item-link {
    @apply pt-4
}

.services h1 {
    @apply pb-16
}

.services__products {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 100px;
    padding: 40px 0;
}

.services__image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.services__image img {
    max-width: 250px;
    max-height: 250px;
}

.services__variants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-weight: 900;
    font-size: 24px;
    padding-bottom: 20px;
}

.services__price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services__variants-item:first-child {
    @apply border-t border-gray-200
}

.services__variants-item {
    display: grid;
    grid-template-columns: 1fr 150px auto;
    align-items: center;
    @apply border-b border-gray-200 py-4 px-2 hover:bg-gray-100 transition
}

.services__variants-price {
    @apply font-semibold text-main-red
}

.services__variants-btn {
    @apply bg-main-yellow hover:bg-main-red hover:text-white transition py-2 px-6 rounded-lg cursor-pointer;
}

.services__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.services__tab {
    cursor: pointer;
    @apply hover:bg-main-yellow/40 py-2 px-8 transition rounded
}

.services__tab.__active {
    @apply bg-main-yellow/80 text-main-red
}

.services__tab-content img {
    width: 40px;
}

.certificates__list {
    padding: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 40px;
}

.certificates__list img {
    cursor: pointer;
}


.__mob {
    display: none;
}

.__desk {
    display: block;
}

.__desk.head-nav {
    display: flex;
}

body .splide__pagination__page.is-active{
    @apply bg-amber-600
}
body .splide__pagination {
    bottom: -20px;
}
.img-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.contacts__list {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
}
.social__list {
    padding: 10px 0;
    display: flex;
    column-gap: 10px;
}
.pagination {
    display: flex;
    justify-content: space-between;
 }

.pagination,
.pagination li{
    list-style: none;
}

.banner__item-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    height: 100%;
    align-items: center;
}
.banner__item {
    overflow: hidden;
}
.banner__item-img {
    height: 100%;
    display: flex;
    align-items: end;
}
.banner__item-img img{
    height: auto;
    max-height: 90%;
}
.banner__wrapper {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
.banner__item-info {
    position: relative;
    padding: 40px 24px;
    border-radius: 16px;
    height: fit-content;
}
.banner__item-info__bg {
    position: absolute;
    content: '';
    top: -200%;
    left: 0;
    width: 100%;
    height: 500%;
    transform: rotate(15deg);
    z-index: 1;
}
.banner__item-info p,
.banner__item-info h2,
.banner__item-info a{
    z-index: 100;
    position: relative;
}
.banner__item-info p {
    padding-bottom: 36px;
}
.banner__item-gradient {
    @apply h-full text-white flex items-center justify-center
}

@media (max-width: 1366px) {
    .wrapper {
        width: auto;
        padding: 0 20px;
    }
    .ww-best {
        padding-bottom: 20px;
    }
    section.target .wrapper {
        grid-column-gap: 30px;
    }
}
@media (max-width: 1024px) {
    .header {
        grid-template-columns: 200px 1fr 0 120px 120px;
    }

    .devider {
        opacity: 0;
    }

    .header__promo {
        flex-direction: column;
        align-items: flex-end;
        @apply space-x-0
    }

    .header__promo-title,
    .header__promo-subtitle {
        text-align: right;
    }

    .head-nav__link {
        font-weight: 500;
    }
    .ww-best__list {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
    }
    .services__item {
        display: flex;
        flex-direction: column;
    }
    .services__item-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .services__item-img img {
        max-width: 450px;
    }
}
@media (max-width: 991px) {
    .banner__item-info__bg {
        height: 300%;
        transform: rotate(0);
    }
    .banner__item-wrapper {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 768px) {
    .__mob {
        display: block;
    }

    .__desk {
        display: none;
    }

    .__desk.head-nav {
        display: none;
    }

    .nav.nav {
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 100;
        height: 100%;
    }

    .header {
        grid-template-columns: 180px 1fr 1fr 40px;
        column-gap: 10px;
        padding-bottom: 10px;
    }

    .burger {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .header__promo,
    .devider {
        display: none;
    }

    .nav.nav {
        margin-top: 0;
        background-image: none;
        background-color: #111;
        transition: 0.4s ease-in-out;
    }

    .nav.nav.__active {
        transition: 0.4s ease-in-out;
        left: 0;
    }

    .head-nav__link {
        display: block;
    }

    .logo {
        align-items: center;
    }

    .mob-menu__close {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 40px;
        height: 40px;
    }
    .ww-best__list {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
    }
    .ww-best__attr {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section.target .wrapper {
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        justify-items: center;
        text-align: center;
    }
    section.target {
        margin-bottom: 30px;
    }
    .news-on-main__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 20px;
    }
    .news-on-main__info a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .news-on-main__title,
    .news-on-main__detail {
        text-align: center;
    }
    .news-on-main__item {
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }
    .news-on-main__item:last-child {
        border-bottom: none;
    }
    h2 {
        text-align: center;
    }
    .services__products {
        display: flex;
        flex-direction: column-reverse;
    }
    .services__item-link a.btn{
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    .services__image {
        margin-bottom: 40px;
    }
    .services__image img {
        width: 100%;
        max-width: inherit;
        max-height: inherit;
    }
}
@media (max-width: 550px) {
    .header {
        grid-template-columns: 120px 1fr 1fr 40px;
    }
    .ww-best__attr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .reviews__list {
        grid-column-gap:0;
    }
    .services__item-img {
        padding: 20px;
    }
    .services__item-img img {
        max-width: 100%;
    }
}
@media (max-width: 475px){
    .header {
        grid-template-columns: 120px 1fr 40px;
    }
    .header__icon-place {
        display: none;
    }
    h1 {
        font-size: 1.5em;
    }
    .banner__item .btn{
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}
@media (max-width: 425px) {

    .logo {
        height: auto;
    }

    .header {
        align-items: center;
    }
    .reviews__item {
        padding: 5px;
    }
    .reviews__item-text {
        padding: 0 10px;
    }
}
